html {
  font-family: 'DotGothic16', sans-serif;
  max-width: 80%;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(255, 255, 251, 0.35);
  background-image: url("vid/sweetlikecandylong.gif");
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-size: cover;
  font-size: 15px;
}

a:link {
  color: black;
  background-color: ; 
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: ; 
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: rgba(131, 204, 0, 0.35); /*r g b transparency*/
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: ; 
  text-decoration: underline;
}

h1 {
  font-style: ;
  font-size: 24px;
  text-align: ;
  padding-bottom: 0;
  padding-top: 0;
}

h2 {
  font-style: ;
  text-align: ;
  font-size: 15px;
  padding-bottom: 0;
  padding-top: 0;
}

p {
  font-size: 15px;
}

/*basic css*/
body {
  background-color: rgba(255, 255, 255, 0.50); 
  padding-left: 25px;
  padding-right: 25px;
}

.header {
  font-weight: bold;
  font-size: 30px;
  max-width: 400px;
/*  background-color: rgba(179, 222, 255, 0.50);*/
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 0;
}

.subheader {
  font-style: italic;
  font-size: 12px;
  max-width: 400px;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 0;
}

.topnavigation {
  font-size: 15px;
  max-width: 450px;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 0;
}

.horizontaldivbottom {
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  text-align: left;
}

.threegallery {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  text-align: center;
  place-items: bottom;
}

.gallerycontact {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: center;
  place-items: center;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  text-align: left;
}


.sweetimg {
  width: 590px;
  height: auto;
}

.lightimg {
  width: 590px;
  height: auto;
}

.projectimg {
  width: 400px;
  height: auto;
}

.projecttxt {
  background-color: rgba(131, 204, 0, 0.35);
  color: white;
}

.bioimg {
}

.contact-form input[type="submit"] {
    justify-content: center;
    cursor: pointer;
    font-family: 'DotGothic16', sans-serif;
}

.contact-form input[type="submit"]:hover {
    font-family: 'DotGothic16', sans-serif;
    justify-content: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form {
    padding: 10px;
    width: 400px;
    justify-content: center;
}

.contact-form textarea {
    height: 175px;
    justify-content: center;
}

.horizontaldivtop {
  border-top: 2px solid #000;
  margin-top: 10px;
}

.bottomnavigation {
  position: static;
  bottom: 0px;
  justify-content: center;
/*  padding-bottom: 10px;  */
}

/*layout responsive to tab size change*/
@media only screen and (max-width: 1200px) {
  .bioimg {
    max-width: 550px;
    max-height: auto;
  }

  .threegallery {
    display: grid;
    grid-template-columns: auto auto;
  }

  .gallery {
    display: grid;
    grid-template-columns: auto;
  }

  .lightimg {
    max-width: 550px;
    max-height: auto;
  }

  .projectimg {
    max-width: 400px;
    max-height: auto;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    font-size: 20px;
  }
  .subheader {
    font-size: 10px;
  }
  .topnavigation {
    font-size: 12px;
    
  }
  .gallery {
    display: grid;
    grid-template-columns: auto;
  }

  .gallerycontact {
  display: grid;
  grid-template-columns: auto;
}

  .bioimg {
    max-width: 300px;
    max-height: auto;
  }

  .threegallery {
    display: grid;
    grid-template-columns: auto;
  }

  .lightimg {
    max-width: 300px;
    max-height: auto;
  }

  .projectimg {
    max-width: 300px;
    max-height: auto;
  }
  }

@media only screen and (max-width: ) {
}
