html {
  font-family: 'Courier Prime', monospace;
/*  font-family: 'Open Sans', sans-serif;*/
  text-align: center;
  justify-content: center;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url("vid/croppedbg.gif");
  background-blend-mode: ;
  background-size: auto%;
  z-index: 1;
  position: relative;
  font-size: 12px;
}

a:link {
  color: black;
  background-color: ; 
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: ; 
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: rgba(131, 204, 0, 0.35); /*r g b transparency*/
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: ; 
  text-decoration: underline;
}

h1 {
  font-style: ;
  font-size: 24px;
  text-align: ;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0;
  padding-top: 0;
}

h2 {
  font-style: ;
  text-align: ;
  font-size: 12px;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0;
  padding-top: 0;
}

/*basic css*/
body {
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.index {
 /* background-image: url("vid/sweetlikecandylong.gif");
  background-size: auto;
  width: 100%;
  height: 100%;*/
}

/*gallery grid*/
.gallery {
  max-width: %;
  grid-template-columns: auto auto auto;
  display: grid;
  grid-column-gap: ;
  grid-row-gap: ;
  justify-content: ;
  align-items: ;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.header {
  font-weight: bold;
  font-size: 20px;
  max-width: 400px;
/*  background-color: rgba(179, 222, 255, 0.50);*/
  background-color: rgba(255, 255, 255, 0.50); 
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 0;
}

.subheader {
  font-style: italic;
  font-size: 12px;
  max-width: 400px;
/*  background-color: rgba(191, 179, 255, 0.50);*/
  background-color: rgba(255, 255, 255, 0.50); 
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 0;
}

.topnavigation {
  font-size: 15px;
  max-width: 400px;
/*  background-color: rgba(255, 191, 179, 0.50);*/
  background-color: rgba(255, 255, 255, 0.50); 
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 0;
}

.bottomnavigation {
  position: relative;
  top: 645px;
/*  background-color: rgba(179, 236, 255, 0.50);*/
  background-color: rgba(255, 255, 255, 0.50); 

  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
}

/*layout responsive to tab size change*/
@media only screen and (max-width: ) {
  .gallery {
    grid-template-columns: ;
  }
}

@media only screen and (max-width: ) {
  .gallery {
    grid-template-columns: ;
  }
}

@media only screen and (max-width: ) {
  .gallery {
    grid-template-columns: ;
  }
}
