html {
  font-size: ;
  font-family: ;
  text-align: ;
  background-image: url("");
  background-blend-mode: ;
  background-size: ;
  z-index: 1;
  position: relative;
}

a:link {
  color: ;
  background-color: ; 
  text-decoration: ;
}

a:visited {
  color: ;
  background-color: ; 
  text-decoration: ;
}

a:hover {
  color: ;
  background-color: rgba(); /*r g b transparency*/
  text-decoration: ;
}

a:active {
  color: ;
  background-color: ; 
  text-decoration: ;
}

h1 {
  font-style: ;
  text-align: ;
}

h2 {
  font-style: ;
  text-align: ;
  font-size: ;
}

/*basic css*/
body {

}

head {
}

/*gallery grid*/
.gallery {
  max-width: %;
  grid-template-columns: auto auto auto;
  display: grid;
  grid-column-gap: ;
  grid-row-gap: ;
  justify-content: ;
  align-items: ;
}

.navigation {
  font-size: ;
  padding-bottom: ;
  z-index: 1;
}

.video {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: ;
  z-index: -1;
}

/*layout responsive to tab size change*/
@media only screen and (max-width: ) {
  .gallery {
    grid-template-columns: ;
  }
}

@media only screen and (max-width: ) {
  .gallery {
    grid-template-columns: ;
  }
}

@media only screen and (max-width: ) {
  .gallery {
    grid-template-columns: ;
  }
}
