html {
/*  font-family: 'Courier Prime', monospace;*/
/*  font-family: 'Open Sans', sans-serif;*/
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  justify-content: center;
  background-image: url("vid/sweetlikecandylong.gif");
  background-blend-mode: lighten;
  background-size: auto;
  background-position: 0px -75px;
  font-size: 12px;
  background-color: rgba(242,212,215,0.25);
}

a:link {
  color: black;
  background-color: ; 
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: ; 
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: rgba(131, 204, 0, 0.35); /*r g b transparency*/
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: ; 
  text-decoration: underline;
}

h1 {
  font-style: ;
  font-size: 24px;
  text-align: ;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0;
  padding-top: 0;
}

h2 {
  font-style: ;
  text-align: ;
  font-size: 12px;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0;
  padding-top: 0;
}

.header {
  font-weight: bold;
  font-size: 20px;
  max-width: 400px;
/*  background-color: rgba(179, 222, 255, 0.50);*/
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 0;
}

.subheader {
  font-style: italic;
  font-size: 12px;
  max-width: 400px;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 0;
}

.topnavigation {
  font-size: 15px;
  max-width: 450px;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 0;
}

.horizontaldivbottom {
  border-bottom: 5px solid #000;
  margin-bottom: 10px;
}

.images {
  max-width: 100%;
  max-height: auto;
}

.exhibitions {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
  align-items: center;
  text-align: left;
  
}

.horizontaldivtop {
  border-top: 5px solid #000;
  margin-top: 10px;
}

.bottomnavigation {
  position: static;
  bottom: 0px;
  justify-content: center;
/*  padding-bottom: 10px;  */
}

/*layout responsive to tab size change*/
@media only screen and (max-width: 500) {
}

@media only screen and (max-width: ) {
  .gallery {
    grid-template-columns: ;
  }
}

@media only screen and (max-width: ) {
  .gallery {
    grid-template-columns: ;
  }
}
