html {
/*  font-family: 'Courier Prime', monospace;*/
/*  font-family: 'Open Sans', sans-serif;*/
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  justify-content: center;
  background-image: url("vid/sweetlikecandylong.gif");
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-size: cover;
  font-size: 12px;
  background-color: rgba(242,212,215,0.25);
  padding-top: 15%;
  padding-bottom: 15%;  
  padding-left: 20%;
  padding-right: 20%;
}

a:link {
  color: black;
  background-color: ; 
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: ; 
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: rgba(131, 204, 0, 0.35); /*r g b transparency*/
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: ; 
  text-decoration: underline;
}

h1 {
  font-style: ;
  font-size: 24px;
  text-align: ;
}

h2 {
  font-style: ;
  text-align: ;
  font-size: 12px;
}

.index {
  border: 5px solid #000;
  border-style: dotted;
  padding: 15px 15px 15px 15px;
  background-color: rgba(255,230,251, 0.25);
}

.header {
  font-weight: bold;
  font-size: 50px;
/*  background-color: rgba(131, 0, 0, 0.25);*/
  justify-content: center;
}

.subheader {
  font-style: italic;
  font-size: 15px;
/*  background-color: rgba(255, 190, 0, 0.25);*/
  justify-content: center;
}

.topnavigation {
  font-size: 25px;
/*  background-color: rgba(0, 131, 204, 0.25);*/
  justify-content: center;
}

.bottomnavigation {
  font-size: 15px;
/*  padding-bottom: 10px;  */
  position: 1% 90%;
  padding: 0px 0px 0px 0px;
}

/*layout responsive to tab size change*/
@media only screen and (max-width: 900px) {
  html {
  }
}

@media only screen and (max-width: ) {
  .gallery {
    grid-template-columns: ;
  }
}

@media only screen and (max-width: ) {
  .gallery {
    grid-template-columns: ;
  }
}
